<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summary</title>
    <link rel="stylesheet" href="/static/styles2.css">
</head>
<body>
    <div class="container">
        <h1 class="title">Summary</h1>
        <div class="summary-box">
            <p>{{ summary }}</p>
            <br>
            <button><a href="{{ url_for('download_pdf', filename=pdf_filename) }}" class="btn download-button">Download PDF</a></button>
        </div>
        <a href="/" class="back-link">Back to Upload</a>
    </div>
</body>
</html>
